* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Slab', serif;
	font-size: 1rem;
	text-decoration: none;
	transition: all 300ms;
	list-style: none;
	/*	border: 1px solid red;*/
	position: relative;
}

:root {																																														
	--white: #fff;
	--black: #000;
	--dark: #000;
	--light: #fff;
	--brand1: #CE984A;
}

html,
body {
	display: grid;
	width: 100%;
	min-height: 100vh;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	scroll-behavior: smooth;
}


/* === Grid Mobile === */

section,
.grid {
	display: grid;
}

.wrap {
	display: grid;
	width: 100%;
	max-width: calc(100vw - 2rem);
	grid-auto-rows: auto;
	justify-self: center;
	align-self: center;
}

.grid,
.wrap,
.um,
.dois,
.tres,
.quatro {
	display: grid;
	grid-gap: 1em;
	grid-auto-rows: auto;
}

.um {
	grid-template-columns: 1fr;
}

.dois {
	grid-template-columns: 1fr 1fr;
}

.tres {
	grid-template-columns: 1fr 1fr 1fr;
}

.quatro {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card {
	padding: 6vw;
	grid-gap: 1em !important;
	border-radius: 1em;
}

/**/

#mainHeader,
.mainHeader {
	position: fixed;
	width: 100vw;
	display: grid;
	grid-template-columns: auto 1fr 1fr;
	grid-template-rows: 2.5rem;
	padding: 1rem;
	background: linear-gradient(to bottom, rgba(0,0,0,.33) 0%,rgba(0,0,0,0) 100%);
	z-index: 99;
}

#domluiggi {
	background-color: #fff;
}

#mainHeader .menu {
	display: grid;
	align-content: center;
	justify-content: end;
}

#mainHeader .logo {
	display: grid;
	align-content: center;
	padding: 0 1.5rem;
	background-color: #fff;
	border-radius: 3rem;
	border-top-left-radius: 0;
	color: var(--brand1);
}


#pageHeader {
	display: grid;
	grid-gap: 1.5rem;
	margin-bottom: 1.5rem;
}

#pageHeader .pageHeader_title {
	display: grid;
	grid-template-columns: 3rem 1fr;
	align-items: center;
	grid-gap: 1.5rem;
}

#pageHeader .pageHeader_tabs {
	overflow: auto;
	white-space: nowrap;
	margin: 0 -1rem;
}

#pageHeader .pageHeader_tabs .tabs:first-child {
	margin-left: 1rem;
}

#pageHeader .pageHeader_tabs::-webkit-scrollbar { 
	display: none; 
}

#pageHeader .pageHeader_tabs .tabs li {
	display: inline-flex;
	background-color: #fff;
	padding: 0.5rem 1rem;
	border-radius: 3rem;
	margin-right: 0.5rem;
}

#pageHeader .pageHeader_tabs .tabs li:last-child {
	margin-right: 1rem;
}


/* === UI Helpers === */


.fullscreen {
	grid-auto-rows: minmax(100vh, auto); 
}

.fluid {
	width: 100%;
}

.center-self {
	align-self: center;
	justify-self: center;
}

.end-self {
	align-self: end;
}

.center {
	align-items: center;
	justify-content: center;
}

.center-y {
	align-self: center;
}

.center-x {
	justify-self: center;
}

.show {
	display: block;
}

.hide {
	display: none !important;
}

.shadow {
	box-shadow: 0px 3px 6px 0px rgba(21,22,26,0.33);
}

.magic-padding-x {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.magic-padding {
	padding: 1.5rem;
}

.magic-padding-y {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}


a {
	color: inherit;
}

span {
	font-size: inherit;
}

/* === Tipografia === */

h1 {
	font-size: 1.750rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

.txt-white {
	color: #fff;
}

.txt-light {
	color: #fff;
}

.txt-black {
	color: #000;
}

.txt-dark {
	color: var(--dark);
}


/* === Buttons === */

.btn,
.btn-i {
	display: grid;
	align-content: center;
	justify-content: center;
	border-radius: 4rem;	
	height: 2.5rem;
	padding: 0 1rem;
	background-color: #fff;
	border: none;
	text-transform: uppercase;
	font-size: 0.875rem;
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.08);
	cursor: pointer;
}

.btn-i {
	min-width: 2.5rem;
	padding: 0;
}

.card,
.card--white {
	padding: 1.5rem;
	border-radius: 1rem;
}

.card--white {
	background-color: #fff;
}


/* === Cardápio === */

.cardapio_wrap {
	display: grid;
	width: 100%;
	max-width: 100vw;
	justify-self: center;
	align-self: center;
}

#cardapio {
	background-color: #fff;
	border-top-left-radius: 1.5rem;
	border-bottom-right-radius: 1.5rem;
	overflow: hidden;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.08);
}

#cardapio .cardapio-item {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 8rem;
	grid-template-rows: 8rem;
	cursor: pointer;
}

.cardapio-item .item-info {
	display: grid;
	grid-gap: 0.5rem;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 1rem 1.5rem 1rem 2.5rem;
}

.item-info .item-description,
.item-info .item-price {
	font-size: 0.75rem;
}

.item-info .item-price {
	font-weight: 600;
	color: var(--brand1);
	display: none;
}

#cardapio .item-img {
	object-fit: cover;
	width: 100%;
}

/* === Menu === */

#menuButton {
	z-index: 99;
}

#mainMenu {
	display: grid;
	grid-template-rows: 4.5rem auto;
	position: fixed;
	right: 0;
	width: 100%;
	height: 100%;
	max-width: 360px;
	background-color: #fff;
	z-index: 98;
	padding-top: 5rem;
}

#mainMenu a {
	position: relative;
	width: 100%;
	height: 100%;
}

#mainMenu .header-menu {
	display: grid;
	padding: 2.5rem;
	align-content: center;
	border-bottom: 1px solid rgba(0,0,0,0.1)
}

#mainMenu ul {
	padding: 1rem;
}

#mainMenu li {
	display: grid;
	width: 100%;
	height: 2.5rem;
	align-content: center;
	padding: 0 1.5rem;
	margin-bottom: 1rem;
	border-radius: 5rem;
	cursor: pointer;
}

#mainMenu li:hover {
	background-color: rgba(0,0,0,0.1);
}

.active {
	background-color: var(--brand1) !important;
}

.nav-inferior {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	width: 100%;
	position: fixed;
	bottom: 0;
	justify-content: space-between;
	padding: 0 2.5rem;
}

.btn-action {
	display: grid;
	align-content: center;
	padding: 1em 1.5em;
	background-color: #000;
	border-radius: 4em;
	border: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.825em;
	margin-bottom: 2.5em;
	cursor: pointer;
}

.productView_overlay {
	height: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 0%,rgba(0,0,0,0.33) 33%,rgba(0,0,0,0) 66%,rgba(0,0,0,0.66) 100%);
}

#productView_img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
	overflow: auto;
}

#promos {

}

#promos img {
	border-radius: 1rem;
}

/*#productView .touch-img {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	overflow: auto;
}
*/
#productView_title {
	margin-bottom: 1rem;
}

#productView_description {
	font-size: 1.5rem;
}



/* === Details === */

.bg-pizza	 {
	background: url('img/capa1.jpg') no-repeat center center fixed;
	background-size: cover;
}

.bg-brand1	 {
	background-color: var(--brand1);
}

.corner-a {
	border-top-left-radius: 0rem;
}

.corner-b {
	border-top-right-radius: 0rem;
}

.corner-c {
	border-bottom-right-radius: 0rem;
}

.round-a {
	border-top-left-radius: 1.5rem;
}

.round-b {
	border-top-right-radius: 1.5rem;
}

.round-c {
	border-bottom-right-radius: 1.5rem;
}

.fixed-a {
	position: fixed;
	top: 1rem;
	left: 1rem;
}

.fixed-b {
	position: fixed;
	top: 1rem;
	right: 1rem;
}

.fixed-c {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 99;
}


/* === Animações === */

.move {
	animation: move 2s infinite alternate;
	animation-timing-function: ease-in-out;
}

@keyframes move {
	from { transform: translate(0, 8px); }
	to   { transform: translate(0, -8px); }
}

/*
 MOdal
 */

 .modal {
 	position: fixed;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	right: 0;
 	display: none;
 	overflow: auto;
 	background-color: #000000;
 	background-color: rgba(247, 243, 237, 0.95);
 	z-index: 9999;
 }

 .modal-window {
 	position: relative;
 	width: 100%;
 	padding: 0.5em;
 }

 .open {
 	display: block;
 }

 .gambis {
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 }



 /* === Media Queries === */

 @media (min-width: 640px) {

 	.wrap {
 		max-width: 66%;
 	}

 	.l-dois {
 		grid-template-columns: 1fr 1fr;
 	}

 	.magic-padding-x {
 		padding-left: 0;
 		padding-right: 0;
 	}

 	.cardapio_wrap {
 		max-width: 66vw;
 	}

 	#cardapio .cardapio-item .item-info {
 		padding: 3rem;
 	}

 	.cardapio-item .item-info .item-title {
 		font-size: 1.5rem;
 	}

 	.cardapio-item .item-info .item-description {
 		font-size: 1rem;
 	}

 	.cardapio-item .item-info .item-price {
 		font-size: 1rem;
 		display: block;
 	}

 	#cardapio .cardapio-item {
 		grid-template-columns: 1fr 12rem;
 		grid-template-rows: 12rem;
 	}

 	#pageHeader .pageHeader_tabs {
 		margin: 0;
 	}

 	#pageHeader .pageHeader_tabs .tabs:first-child {
 		margin-left: 0;
 	}
 }